@{
    ViewData["Title"] = "ChangePassword";
    Layout = "/Views/Shared/_LayoutAccount.cshtml";
}

<h2 class="page-title">Смени Парола</h2>

@if (TempData["ChangePasswordSuccess"] != null)
{
    <div class="alert alert-success" role="alert">
        Паролата беше променана успешно!
    </div>
}
@if (TempData["ChangePasswordError"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ChangePasswordError"]
    </div>
}

<form method="post" asp-action="ChangePassword">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-4  mb-4">
            <label for="NewPassword" class="form-label">Нова парола</label>
            <input type="password" name="NewPassword" id="NewPassword" class="form-control" required />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4">
            <label for="ConfirmPassword" class="form-label">Потвърди парола</label>
            <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="form-control" required />
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Промени парола</button>
</form>