@model UserRequestAction
@{
	ViewData["Title"] = "Account Index";
	Layout = "/Views/Shared/_LayoutAccount.cshtml";
	var pet = (Pet)ViewBag.Pet;
	var currentUser = (User)ViewBag.CurrentUser;
}
<h2 class="page-title">Поискай любимец</h2>
<div class="row">
	<div class="col-3">
		@await Component.InvokeAsync("PetCard", new { pet = pet })
	</div>
	<div class="col-9">
		<form method="post" asp-name="create-request">
			<input type="hidden" asp-for="PetId"/>
			<input type="hidden" asp-for="RequestId"/>
			<div class="card">
				<div class="card-body">
					<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
					<div class="row mb-3 align-items-center">
					  <div class="col-3">
						<label class="col-form-label">Получател</label>
					  </div>
					  <div class="col">
						<input readonly class="form-control" value="@pet.User.Name"/>
					  </div>
					</div>
					<div class="row  align-items-center">
					  <div class="col-3">
						  <label asp-for="Message" class="col-form-label"></label>
					  </div>
					  <div class="col">
						<textarea class="form-control" asp-for=Message></textarea>
						<span asp-validation-for="Message" class="text-danger"></span>
					  </div>
					</div>
				</div>
				<div class="card-footer">
					<button type="submit" class="btn btn-primary me-3">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy" viewBox="0 0 16 16">
							<path d="M11 2H9v3h2z" />
							<path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z" />
						</svg>
						Изпрати
					</button>
					<a asp-controller="Account" asp-action="RequestOutbox" class="btn btn-outline-secondary">Отказ</a>
				</div>
			</div>
		</form>
	</div>
</div>

