<footer>
    <div class="container">
        &copy; 2025 - WebPresentationLayer - 
        <a asp-area="" asp-controller="Site" asp-action="Contacts">Contacts</a>
        <a asp-area="" asp-controller="Site" asp-action="Privacy">Privacy</a>
        <a asp-area="" asp-controller="Site" asp-action="Terms">Terms</a>
    </div>
</footer>