<footer>
    <div class="container">
        "Нов дом за щастливи опашки" 2025
        <a style = "margin:0.5em" asp-area="" asp-controller="Site" asp-action="Contacts">Контакти</a>
        <a style="margin:0.5em" asp-area="" asp-controller="Site" asp-action="Privacy">Поверителност</a>
        <a style="margin:0.5em" asp-area="" asp-controller="Site" asp-action="Terms">Политика и Условия</a>
    </div>
</footer>