@{
	ViewData["Title"] = "За нас";
	Layout = "/Views/Shared/_LayoutSite.cshtml";
}
<div class="container pt-3">
<h1 class="page-title">За нас</h1>
<p>"Нов дом за щастливи опашки" е онлайн платформа, създадена с цел да улесни доброволната размяна и осиновяване на домашни любимци в България. Нашата мисия е да свържем отговорни стопани с животни, които търсят нов дом, като по този начин помагаме за изграждането на по-светло и състрадателно бъдеще за нашите четириноги приятели.</p>

<h3>Нашата мисия</h3>
<p>Вярваме, че всеки домашен любимец заслужава втори шанс за щастлив живот. Чрез нашата платформа се стремим да направим процеса на осиновяване лесен, бърз и достъпен за всички, като насърчаваме отговорното отношение към животните и намаляваме броя на бездомните животни в страната.</p>

<h3>Нашият екип</h3>
<p>Нашият екип се състои от професионалисти с богат опит в IT, маркетинга и грижата за животните. Всеки член от екипа допринася със своите уникални умения и страст, за да осигури качествени услуги и постоянни подобрения в платформата. Нашите ключови членове са:</p>
<ul>
	<li><strong>Виктор Зашев</strong> – Основател и главен разработчик, отговарящ за техническата реализация и иновациите в системата.</li>
	<li><strong>Димитър Чапкънов </strong> – Мениджър по маркетинг и комуникации, която популяризира платформата и поддържа връзката с нашата общност.</li>
	<li><strong>Диана Димитрова</strong> – Специалист по поддръжка на потребителите, който гарантира, че всяка заявка и въпрос се обработват своевременно и ефективно.</li>
</ul>

<h3>Какво правим</h3>
<p>Нашият сайт предоставя възможност на потребителите да публикуват обяви за животни, търсещи нов дом, и да разглеждат наличните предложения във всеки областен град. При публикуване на обява, се посочва само областният град, което насърчава срещите лице в лице между потенциалните осиновители и животните. В допълнение, ние работим за повишаване на информираността относно грижата за животните и подкрепяме инициативи за осиновяване чрез сътрудничество с различни организации и доброволчески групи.</p>
<p>Благодарим ви, че сте част от нашата общност. Заедно можем да направим разликата и да дадем втори шанс на всяко животно, което търси нов дом.</p>
</div>