@{
	ViewData["Title"] = "Контакти - Нов дом за щастливи опашки";
}

<div class="container pt-3">
	<h1 class="page-title">Свържете се с нас</h1>
	<p>Ако имате въпроси, предложения или нужда от помощ, моля, използвайте следната информация за контакт:</p>
	<ul>
		<li><strong>Имейл:</strong> info@novdomzaopashki.bg</li>
		<li><strong>Телефон:</strong> +359 88 123 4567</li>
		<li><strong>Адрес:</strong> бул. "Цар Борис III" 126, София, България</li>
	</ul>
</div>

