@{
	ViewData["Title"] = "Политика за поверителност";
}
<div class="container pt-3">
	<h2 class="page-title">Защо е важна вашата поверителност?</h2>
	<p>В "Нов дом за щастливи опашки" ние се ангажираме да защитаваме вашите лични данни. Вашето доверие е наш приоритет и ние работим усилено, за да осигурим, че информацията, която споделяте с нас, се обработва сигурно и отговорно.</p>
	<h2 class="page-title">1. Какви данни събираме?</h2>
	<p>Когато използвате нашия сайт, ние събираме данни като потребителско име, имейл адрес, телефонен номер и друга информация, която доброволно предоставяте при регистрация или публикуване на обяви. Тези данни са необходими за да ви свържем с други потребители и да улесним процеса по осиновяване на животни.</p>
	<h2 class="page-title">2. Как използваме вашите данни?</h2>
	<p>Вашите лични данни се използват единствено за целите на подобряване на услугите, които предоставяме – като обработка на регистрационните ви данни, публикуване и управление на обяви, както и за свързване с потенциални осиновители. Ние никога няма да продаваме или споделяме вашата информация с трети страни, освен ако това не е необходимо за спазване на законови задължения.</p>
	<h2 class="page-title">3. Вашите права</h2>
	<p>Спазвайки Общия регламент за защита на данните (GDPR), вие имате право да получите достъп до данните, които съхраняваме за вас, да поискате тяхната корекция или изтриване и да оттеглите съгласието си по всяко време. Ако желаете да упражните някое от тези права, моля свържете се с нас чрез посочените контакти.</p>
	<h2 class="page-title">4. Защита на данните</h2>
	<p>Ние прилагаме редица мерки за сигурност, включително криптиране и защитени сървъри, за да предотвратим неоторизиран достъп до вашите лични данни. Нашите системи се актуализират редовно, за да гарантират най-високо ниво на защита.</p>
	<h2 class="page-title">5. Промени в политиката</h2>
	<p>Ние си запазваме правото да актуализираме тази Политика за поверителност по всяко време. Всички промени ще бъдат публикувани на сайта и ще влязат в сила веднага след публикуването им. Препоръчваме ви периодично да проверявате тази страница за актуализации.</p>
	<p>Благодарим ви, че избрахте "Нов дом за щастливи опашки". Вашата поверителност и сигурност са от съществено значение за нас. Ако имате въпроси относно нашата политика за поверителност, не се колебайте да се свържете с нас.</p>
</div>

