@{
	ViewData["Title"] = "Pets";
	var pets = (List<Pet>)ViewBag.Pets;
	var filters = (List<FilterGroup>)ViewBag.Filters;
	var currentPage = (int)ViewBag.Page;
	var pageSize = 8;
}
<div class="container">
	<div class="card-list">
		<div class="row">
			<div class="col-auto aside">
				<div class="filter-list">
					@foreach (var filter in filters)
					{
						@await Component.InvokeAsync("FilterGroupComponent", new { Group = filter })
					}
				</div>
				<a href="#" class="btn btn-outline-secondary my-2 w-100" id="clear-filters">без филтри</a>
			</div>
			<div class="col content">
				<div class="row">
					@if(pets.Count == 0)
					{
						<div class="mb-3">
							Няма домашни любимци отговарящи на критериите!
						</div>
					}
					@foreach (var pet in pets)
					{
						<div class="col-12 col-md-6 col-lg-4 col-xl-3 pb-4">
							@await Component.InvokeAsync("PetCard", new { pet = pet })
						</div>
					}
				</div>
				<nav>
					<ul class="pagination mb-0">
						<li class="page-item @(currentPage == 1 ? "disabled" : "")">
							<a href="@ViewBag.PrevPageUrl" class="page-link" data-type="previous">Назад</a>
						</li>
						<li class="page-item @(pets.Count < pageSize ? "disabled" : "")">
							<a href="@ViewBag.NextPageUrl" class="page-link" data-type="next">Напред</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>
