@{
	Layout = "/Views/Shared/_LayoutSite.cshtml";
}
<div class="container pt-3">
	<div class="row">
		<aside class="sidebar col-12 col-md-5 col-lg-4 col-xl-3 col-xxl-2">
			@await Component.InvokeAsync("UserNav")
		</aside>
		<section class="content col-12 col-md-7 col-lg-8 col-xl-9 col-xxl-10">
			@RenderBody()
		</section>
	</div>
</div>