@import "card-list.css";
@import "filter-list.css";
@import "footer.css";
@import "header.css";
@import "home.css";
@import "hero.css";
@import "imageblock.css";
@import "sidebar.css";

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.btn-primary {
	background:#ffcd39;
	border-color:#ffcd39;
	color:#332701;
}

	.btn-primary:hover {
		background:#ffc107;
		border-color:#ffc107;
		color:#332701;
	}

.btn-icon svg{
	vertical-align:text-bottom;
}
