@import "card-list.css";
@import "filter-list.css";
@import "footer.css";
@import "header.css";
@import "home.css";
@import "hero.css";
@import "imageblock.css";
@import "pet-details.css";
@import "sidebar.css";
@import "site-card.css";

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.page-title {
	margin-bottom:1rem;
}

.btn-primary {
	background:#ffcd39;
	border-color:#ffcd39;
	color:#332701;
}

	.btn-primary:hover {
		background:#ffc107;
		border-color:#ffc107;
		color:#332701;
	}

.btn-icon svg{
	vertical-align:text-bottom;
}


.table tr.has-background td{
	background:#f8f9fa;
}