@model Hero;

@if (Model.Page == "home")
{
	<section class="hero-wrapper home">
		<div class="container">
			<div class="hero">
				<div class="hero-text">
					<div class="hero-title">Вземи домашен любимец</div>
					<div class="hero-subtitle">Отвори сърцето си за топка щастие</div>
				</div>
			</div>
		</div>
	</section>
}
else if (Model.Page == "pets")
{
	<section class="hero-wrapper">
		<div class="container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Начало</a></li>
				<li class="breadcrumb-item active" aria-current="page">Любимци</li>
			</ol>
		</div>
	</section>
}
else if (Model.Page == "register")
{
	<section class="hero-wrapper">
		<div class="container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Начало</a></li>
				<li class="breadcrumb-item active" aria-current="page">Регистрация</li>
			</ol>
		</div>
	</section>
}
else if (Model.Page == "login")
{
	<section class="hero-wrapper">
		<div class="container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Начало</a></li>
				<li class="breadcrumb-item active" aria-current="page">Вход</li>
			</ol>
		</div>
	</section>
}
else if (Model.Page == "aboutus")
{
	<section class="hero-wrapper">
		<div class="container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Начало</a></li>
				<li class="breadcrumb-item active" aria-current="page">За нас</li>
			</ol>
		</div>
	</section>
}
else if (Model.Page == "contacts")
{
	<section class="hero-wrapper">
		<div class="container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Начало</a></li>
				<li class="breadcrumb-item active" aria-current="page">Контакти</li>
			</ol>
		</div>
	</section>
}
else if (Model.Page == "privacy")
{
	<section class="hero-wrapper">
		<div class="container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Начало</a></li>
				<li class="breadcrumb-item active" aria-current="page">Поверителност</li>
			</ol>
		</div>
	</section>
}
else if (Model.Page == "terms")
{
	<section class="hero-wrapper">
		<div class="container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Начало</a></li>
				<li class="breadcrumb-item active" aria-current="page">Политика и Условия</li>
			</ol>
		</div>
	</section>
}
else if (Model.Page == "error")
{
	<section class="hero-wrapper">
		<div class="container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Начало</a></li>
				<li class="breadcrumb-item active" aria-current="page">Грешка</li>
			</ol>
		</div>
	</section>
}
else if (Model.Page == "admin-users" || Model.Page == "admin-usermanage")
{
	<section class="hero-wrapper">
		<div class="container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Users">Администрация</a></li>
				<li class="breadcrumb-item active" aria-current="page">Потребители</li>
			</ol>
		</div>
	</section>
}
else if (Model.Page == "admin-pets")
{
	<section class="hero-wrapper">
		<div class="container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Users">Администрация</a></li>
				<li class="breadcrumb-item active" aria-current="page">Любимци</li>
			</ol>
		</div>
	</section>
}
else if (Model.Page == "admin-requests")
{
	<section class="hero-wrapper">
		<div class="container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Users">Администрация</a></li>
				<li class="breadcrumb-item active" aria-current="page">Искания</li>
			</ol>
		</div>
	</section>
}
else if (Model.Page == "account-details")
{
	<section class="hero-wrapper">
		<div class="container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a asp-controller="Account" asp-action="Details">Профил</a></li>
				<li class="breadcrumb-item active" aria-current="page">Искания</li>
			</ol>
		</div>
	</section>
}
else if (Model.Page == "account-changepassword")
{
	<section class="hero-wrapper">
		<div class="container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a asp-controller="Account" asp-action="Details">Профил</a></li>
				<li class="breadcrumb-item active" aria-current="page">Смяна на парола</li>
			</ol>
		</div>
	</section>
}
else if (Model.Page == "account-pets")
{
	<section class="hero-wrapper">
		<div class="container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a asp-controller="Account" asp-action="Details">Профил</a></li>
				<li class="breadcrumb-item active" aria-current="page">Моите Любимци</li>
			</ol>
		</div>
	</section>
}
else if (Model.Page == "account-requestoutbox")
{
	<section class="hero-wrapper">
		<div class="container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a asp-controller="Account" asp-action="Details">Профил</a></li>
				<li class="breadcrumb-item active" aria-current="page">Изпратени Искания</li>
			</ol>
		</div>
	</section>
}
else if (Model.Page == "account-requestinbox")
{
	<section class="hero-wrapper">
		<div class="container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a asp-controller="Account" asp-action="Details">Профил</a></li>
				<li class="breadcrumb-item active" aria-current="page">Получени Искания</li>
			</ol>
		</div>
	</section>
}

