@page
@model LoginModel

@{
	ViewData["Title"] = "Log in";
}
<div class="container">
	<div class="site-card">

		<div class="row">
			<div class="col-12 col-md-8">
				<section class="site-card-left">
					<form id="account" method="post">
						<div class="card">
							<div class="card-body">
								<h2>Вход</h2>
								<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
								<div class="row  mb-3">
									<div class="col-12 col-md-6">
										<label asp-for="Input.Username" class="form-label"></label>
										<input asp-for="Input.Username" value="@Model.Input.Username" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
										<span asp-validation-for="Input.Username" class="text-danger"></span>
									</div>
									<div class="col-12 col-md-6">
										<label asp-for="Input.Password" class="form-label"></label>
										<input asp-for="Input.Password" value="@Model.Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
										<span asp-validation-for="Input.Password" class="text-danger"></span>
									</div>
								</div>
								<div class="checkbox mb-3">
									<label asp-for="Input.RememberMe" class="form-label">
										<input class="form-check-input" asp-for="Input.RememberMe" />
										@Html.DisplayNameFor(m => m.Input.RememberMe)
									</label>
								</div>
								<div class="text-muted mt-2">
									За тестване на обикновен потребител: <br />
									goshoUser <br />
									u-k.KwKn3;LEN:QMf/ <br />
								</div>
							</div>
							<div class="card-footer">
									<button id="login-submit" type="submit" class="w-100 btn btn-primary btn-lg">Вход</button>
							</div>
						</div>
					</form>
				</section>
			</div>
			<div class="d-none d-md-block col-md-4">
				<section class="site-card-right">
					<h2>Регистрация</h2>
					<p>За да се възползвате от услугите на "Вземи любимец", имаш нужда от регистрация</p>
					<a class="btn btn-secondary w-100 mt-3" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Регистрирай се</a>
				</section>
			</div>
		</div>
	</div>
</div>