<section class="homeinfo-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-6">
				<div class="imageblock">
					<div class="image-wrapper">
						<div class="image">
							<img src="/media/adopt.png" />
						</div>
					</div>
					<div class="meta">
						<h3 class="title">Вземи любимец</h3>
						<div class="subtitle">Приюти едно усмихнато личице в дома си!</div>
						<div class="action">
							<a class="btn btn-primary shadow-lg" asp-controller="Pets" asp-action="Index">Вземи любимец</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-6">
				<div class="imageblock">
					<div class="image-wrapper">
						<div class="image">
							<img src="/media/donate.png" />
						</div>
					</div>
					<div class="meta">
						<h3 class="title">Предложи осиновяване</h3>
						<div class="subtitle">Регистрирай своя любимец и му намери нов дом!</div>
						<div class="action">
							<a class="btn btn-primary shadow-lg" asp-controller="Account" asp-action="PetCreate">Въведи любимец</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
